doctype 5
html(data-user-email=user.email, data-user-name=user.name)
  head
    link(href="public/lib/font-awesome/css/font-awesome.min.css", rel="stylesheet")
    link(href="public/lib/select2/select2.css", rel="stylesheet")
    link(href="public/styles.css", rel="stylesheet")
    meta(charset="utf-8")
    script(data-main="public/main.js", src="public/lib/require.js")
    title Atlassian Meeting Mate
    !{mixpanelScript}
  body