a
  text-decoration none

body, html
  font-family "Helvetica Neue", "Helvetica", sans-serif
  height 100%
  margin 0
  overflow hidden
  padding 0

box-sizing()
  -moz-box-sizing arguments
  -webkit-box-sizing arguments
  box-sizing arguments

button-colour = rgb(57, 117, 175)
button-colour-hover = lighten(button-colour, 10)

.dialog
  background #fff
  border-radius 4px
  box-sizing border-box
  height 420px
  left 50%
  margin -210px 0 0 -320px
  padding 30px
  position fixed
  top 50%
  -webkit-transition top 0.3s
  transition top 0.3s
  -webkit-transition-timing-function ease-in-out
  transition-timing-function ease-in-out
  width 640px
  z-index 2

  &:empty
    top calc(100% + 240px)

    + .dialog-blanket
      opacity 0
      pointer-events none

  .cancel
    color #999
    position absolute
    right 0
    top 0

.dialog-blanket
  background #000
  content ""
  height 100%
  left 0
  opacity 0.75
  position fixed
  top 0
  -webkit-transition opacity 0.3s
  transition opacity 0.3s
  width 100%

.event-created
  position relative
  text-align center

  h1
    margin: 0 0 100px 0

.event-details
  position relative

  form
    margin-top 40px

  h1
    margin-top 0

  input,
  .submit,
  textarea
    border-radius 4px
    box-sizing border-box
    display block
    font-size 18px
    margin-top 20px
    width 100%

  .submit
    background button-colour
    border 0
    color #fff
    font-weight bold
    height 50px
    line-height 50px
    text-align center

    &:hover
      background button-colour-hover

    .spinner
      left 50% !important
      top 50% !important

  textarea
    height 92px
    resize none

  textarea,
  [type=text]
    border 1px solid #aaa
    border-radius 4px
    padding 10px

.field
  font-size 24px
  font-weight bold
  margin-top 32px !important
  position relative
  width 100%

  > .fa
    position absolute

    &:before
      font-weight normal
      left -48px
      line-height 66px
      position absolute

.form,
.page-layout,
.results
  height 100%

.form
.results
  box-sizing border-box
  overflow auto
  width 50%

  &.loading
    opacity 0.25

.form
  background #f5f5f5
  float left
  padding 64px 128px

  p
    text-align center

  input[type=checkbox]
    position relative
    top -3px

  label
    color #444
    display block
    font-size 24px
    font-weight bold
    margin-top 32px

h1
  font-size 48px
  margin 0.25em 0

.logo
  width 100%

.no-results
  font-size 24px
  margin-top 10em
  text-align center

  p
    color #aaa

p
  color #6b6b6b

.result
  position relative

  &:before
    container-size = 40px
    font-size = 24px

    background rgb(141, 172, 32)
    border-radius container-size
    color #fff
    content "✔︎"
    display inline-block
    font-size font-size
    height container-size
    left 0 - container-size * 1.5
    line-height container-size
    position absolute
    text-align center
    top ((52 - container-size) / 2)
    width container-size

  .book
    background button-colour
    border-radius 4px
    color #fff
    height 40px
    font-weight bold
    line-height 40px
    margin-top -20px
    position absolute
    right 0
    text-align center
    top 50%
    width 100px

    &:hover
      background button-colour-hover

  h2
    margin 0 0 5px 0

  p
    margin 0

  + .result
    margin-top 30px

.results
  float right
  padding 128px

.select2-container
  width 100%

  .select2-choice
    height 64px
    line-height 64px
    padding-left 18px

    .select2-arrow > b
      background-position 0 19px

  .select2-choices
    border-radius 4px
    box-sizing border-box
    min-height 64px
    padding 11px 8px 11px 8px

    .select2-search-choice
      line-height 1
      padding 8px 5px 10px 18px

  .select2-search-choice-close
    top 15px
